node_modules/
build/
dist/
tmp/
/data/
public/data/**
!public/data/aircraft3d/
!public/data/aircraft3d/models/
!public/data/aircraft3d/models/models.json
!public/data/aircraft3d/models/wooden.glb
!public/data/aircraft3d/models/airliner.glb
!public/data/aircraft3d/models/tupolev_tu-154.glb
coverage/
.DS_Store
*.log
.env*
!.env.example
captures/
